* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary {
  height: 100vh;
  background-color: hsl(45 100% 98%);
}

.primary_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.primary_title {
  display: flex;
  gap: 10px;
}

.primary_title img {
  width: 40px;
  height: 40px;
}

.primary_title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}

.primary_desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px 50px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.primary_entrar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.primary_entrar h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: start;
}

.primary_entrar p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: start;
  color: gray;
}

.primary_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: start;
  color: rgb(0, 0, 0);
}

input {
  width: 100%;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
}

.primary_botao {
  width: 100%;
}

.primary_botao a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background-color: hsl(250 80% 60%);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.primary_botao a:hover {
  background-color: hsl(250, 100%, 63%);
}

.primary_footer {
  display: flex;
  width: 100%;
  gap: 5px;

  justify-content: center;
}

.primary_footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: start;
  color: gray;
}

.primary_footer a {
  text-decoration: none;
  color: hsl(250 80% 60%);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
